@model RegisterModelView
<html>
<head><title>Hello</title></head>
<body>
    <h1>Welcome!</h1>
    <h3>Your full name: @Model.FullName</h3>
    <a asp-action="LogOut" class="btn btn-danger">Log Out</a>
</body>
</html>